html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 1.125rem;
  line-height: 1.3;
  font-family: "Public Sans", sans-serif;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  list-style-type: none;
}

ul li {
  list-style-type: none;
}
