$breakpoints-up: (
  "medium": "23.4375em",
  "large": "64em",
  "xlarge": "90em",
);

$breakpoints-down: (
  "small": "23.375em",
  "medium": "63.9375em",
  "large": "89.9375em",
);

$weights: (
  "normal": 300,
  "bold": 400,
  "bolder": 700,
);

@mixin breakpoint-down($size) {
  @media screen and (min-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}
@mixin breakpoint-up($size) {
  @media screen and (max-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@function weight($size) {
  @return map-get($weights, $size);
}

@mixin transt {
  transition: 0.5s ease-in-out;
}
